
@{
    ViewBag.Title = "Sunny FB Catchup";
}

<!-- Completely yanked from ezfb's demo app and then pruned  -- http://plnkr.co/edit/qclqht?p=preview -->

<div ng-app="sunnycatchup">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    @*<script src="http://pc035860.github.io/angular-easyfb/angular-easyfb.min.js"></script>*@
    <script src="~/Scripts/angular-ezfb-1.5.1.js"></script>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="~/Scripts/App/sunnycatchup.js"></script>

    <div ng-controller="darth">
        <div class="container">
            <div class="row well">
                <div class="col-md-3">
                    <button class="btn btn-primary"
                            ng-click="login()"
                            ng-disabled="loginStatus == 'connected'">
                        FB Login
                    </button>
                    &nbsp;
                    <button class="btn btn-danger"
                            ng-click="logout()"
                            ng-disabled="loginStatus != 'connected'">
                        Logout
                    </button>
                </div>
                <div class="col-md-3">
                    Login Status: {{loginStatus}}
                </div>
                <div class="col-md-3">
                    Limit: <input type="number" ng-model="localStorageLimit" ng-change="changedLocalStorageLimit()"/>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-warning"
                            ng-click="clearLocalStorage()">
                        Clear Local Storage
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary"
                            ng-click="getPosts()"
                            ng-disabled="(loginStatus != 'connected') || !nextFeedUrl">
                        Get More Posts!
                    </button>
                    &nbsp;
                    <button class="btn btn-info" onclick="applyMasonry()">
                        Rearrange
                    </button>
                </div>
                <div class="col-md-6">
                    Loaded: {{numPosts()}}
                    New: {{newStories}}
                    Dup: {{dupStories}}
                    ({{lastLoadTime}} ms)
                </div>
            </div>

        </div>

        <div class="darth-group">
            <div class="darth-item" ng-repeat="post in postsViewModel">
                <div style="padding: 1px; margin: 1px; background: lightgray">
                    <div>
                        <b>{{post.from}}</b>
                        <span style="font-size: 0.7em">{{post.prettyCreated}}</span>
                        <i style="font-size: 0.7em">{{post.story}}</i>
                    </div>
                    <img style="float: right;" ng-show="post.picture" src="{{post.picture}}" />
                    <div>
                        {{post.message}}
                    </div>
                    <div style="color: gray">
                        <span>{{post.description}}</span>
                        <span ng-show="post.link"><a href="{{post.link}}" target="_">link</a></span>
                        <span ng-show="post.caption">[{{post.caption}}]</span>
                    </div>
                    <div style="clear: both; height:0px">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary"
                            ng-click="getPosts()"
                            ng-disabled="(loginStatus != 'connected') || !nextFeedUrl">
                        Get More Posts!
                    </button>
                    &nbsp;
                    <button class="btn btn-info" onclick="applyMasonry()">
                        Rearrange
                    </button>
                </div>
                <div class="col-md-6">
                    Loaded: {{numPosts()}}
                    New: {{newStories}}
                    Dup: {{dupStories}}
                    ({{lastLoadTime}} ms)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    function applyMasonry() {
        var elem = document.querySelector('.darth-group');

        var items = document.getElementsByClassName("darth-item");
        for (var i = 0; i < items.length; i++) {
            var item = items[i]; 
            var x; 
            item.style.width = "200px";
            for (x = 200; x < 800; x += 200) {
                item.style.width = x + "px";
                var height = item.offsetHeight;
                var ratio = height / x;
                if (ratio < 2) {
                    break;
                } 
            }
        }

        var msnry = new Masonry(elem, {
            // options
            itemSelector: '.darth-item',
            columnWidth: 200
        });
    }
</script>
