
@{
    ViewBag.Title = "Index";
}

<!-- Completely yanked from ezfb's demo app and then pruned  -- http://plnkr.co/edit/qclqht?p=preview -->

<div ng-app="plunker">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://pc035860.github.io/angular-easyfb/angular-easyfb.min.js"></script>
    <div ng-controller="MainCtrl">
        <div class="container">
            <h2>angular-easyfb API demo</h2>
            <div>
                <button class="btn btn-primary" ng-click="login()" ng-disabled="loginStatus.status == 'connected'">Connect with Facebook</button>
                &nbsp;
                <button class="btn btn-danger" ng-click="logout()" ng-disabled="!loginStatus || loginStatus.status != 'connected'">Logout</button>
                &nbsp;
            </div>

            <br>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-info">{{loginStatus}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var app = angular.module('plunker', ['ezfb'])

    .config(function (ezfbProvider) {
        /**
         * Basic setup
         *
         * https://github.com/pc035860/angular-easyfb#configuration
         */
        ezfbProvider.setInitParams({
            appId: '426833590733307',
            version: 'v2.3' // use graph api version 2.3!!! till July 2017.  then /me/home goes away.
        });
    })

    .controller('MainCtrl', function ($scope, ezfb, $window, $location) {

        $scope.loginStatus = "??";

        updateLoginStatus();

        $scope.login = function () {
            /**
             * Calling FB.login with required permissions specified
             * https://developers.facebook.com/docs/reference/javascript/FB.login/v2.0
             */
            ezfb.login(function (res) {
                /**
                 * no manual $scope.$apply, I got that handled
                 */
                if (res.authResponse) {
                    updateLoginStatus();
                }
            }, { scope: 'public_profile,email,user_posts,read_stream' });
        };

        $scope.logout = function () {
            /**
             * Calling FB.logout
             * https://developers.facebook.com/docs/reference/javascript/FB.logout
             */
            ezfb.logout(function () {
                updateLoginStatus();
            });
        };

        /**
         * Update loginStatus result
         */
        function updateLoginStatus() {
            ezfb.getLoginStatus(function (res) {
                $scope.loginStatus = res;
            });
        }

    });




</script>


