
@{
    ViewBag.Title = "Sunny FB Catchup";
}

<!-- Completely yanked from ezfb's demo app and then pruned  -- http://plnkr.co/edit/qclqht?p=preview -->

<div ng-app="sunnycatchup">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://pc035860.github.io/angular-easyfb/angular-easyfb.min.js"></script>
    <script src="~/Scripts/App/sunnycatchup.js"></script>

    <div ng-controller="darth">
        <div class="container">
            <div class="row well-sm">
                <button class="btn btn-primary"
                        ng-click="login()"
                        ng-disabled="loginStatus == 'connected'">
                    Connect with Facebook
                </button>
                &nbsp;
                <button class="btn btn-danger"
                        ng-click="logout()"
                        ng-disabled="loginStatus != 'connected'">
                    Logout
                </button>
                &nbsp;
                Login Status: {{loginStatus}}
                <button class="btn btn-warning"
                        ng-click="clearLocalStorage()">
                    Clear Local Storage
                </button>
            </div>

            <div class="well-sm">
                <div class="row well-sm">
                    <button class="btn btn-primary"
                            ng-click="getPosts()"
                            ng-disabled="(loginStatus != 'connected') || !nextFeedUrl">
                        Get More Posts!
                    </button>
                    Loaded: {{numPosts()}}
                    New: {{newStories}}
                    Dup: {{dupStories}}
                    ({{lastLoadTime}} ms)
                </div>
                <div class="row">
                    <div class="col-sm-3" style="padding:0px" ng-repeat="post in postsViewModel">
                        <div style="padding: 1px; margin: 1px; background: lightgray">
                            <img style="float: right" class="image" ng-show="post.picture" src="{{post.picture}}" />
                            <div>
                                <b>{{post.from}}</b>
                                <span style="font-size: 0.7em">{{post.prettyCreated}}</span>
                                <i style="font-size: 0.7em">{{post.story}}</i>
                                {{post.message}}
                            </div>
                            <div style="color: gray">
                                <span>{{post.description}}</span>
                                <span ng-show="post.link"><a href="{{post.link}}" target="_">link</a></span>
                                <span ng-show="post.caption">[{{post.caption}}]</span>
                            </div>
                            <div class="clearfix"/>
                        </div>
                    </div>
                </div>
                <div class="row well-sm">
                    <button class="btn btn-primary"
                            ng-click="getPosts()"
                            ng-disabled="(loginStatus != 'connected') || !nextFeedUrl">
                        Get More Posts!
                    </button>
                    Loaded: {{numPosts()}}
                    New: {{newStories}}
                    Dup: {{dupStories}}
                    ({{lastLoadTime}} ms)
                </div>
            </div>
        </div>
    </div>
</div>
